<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
    <!--<h1> 게시판 리스트 페이지 </h1>-->
    <form action="/board/list" method="get">
        <div class="col">
            <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="form-select" name="type">
                        <option value="">---</option>
                        <option value="t" th:selected="${pageRequestDTO.type=='t'}">제목</option>
                        <option value="c" th:selected="${pageRequestDTO.type=='c'}">내용</option>
                        <option value="w" th:selected="${pageRequestDTO.type=='w'}">작성자</option>
                        <option value="tc" th:selected="${pageRequestDTO.type=='tc'}">제목,내용</option>
                        <option value="tw" th:selected="${pageRequestDTO.type=='tw'}">제목,작성자</option>
                        <option value="tcw" th:selected="${pageRequestDTO.type=='tcw'}">제목,내용,작성자</option>
                    </select>
                </div> <!--검색 리스트 박스 종료 -->
                <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary searchBtn" type="submit"> 검색</button>
                    <button class="btn btn-outline-secondary clearBtn" type="button"> Clear</button>
                </div>
            </div>

        </div>
    </form>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    게시판
                </div>
                <div class="card-body">
                    <h5 class="card-title">게시물 목록</h5>
                    <!--테이블 영역-->
                    <h5 class="card-title">Board List</h5>

                    <!-- 등록 버튼 추가 -->
                    <div class="mb-3 text-end">
                        <a th:href="@{/board/register}" class="btn btn-success">등록하기</a>
                    </div>


                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">등록일</th>
                        </tr>
                        </thead> <!-- 테이블 제목 끝 -->
                        <tbody>
                        <tr th:each="dto:${responseDTO.dtoList}">  <!-- 배열로 받은 객체를 1개씩 꺼내어 dto로 넣는다. -->
                            <th scope="row">[[${dto.bno}]]</th> <!--번호-->
                            <td>
                                <a th:href="@{/board/read(bno=${dto.bno}, ${pageRequestDTO.getLink()})}">
                                    [[${dto.title}]]</a></td>
                            <td>[[${dto.writer}]]</td>
                            <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
                            <!-- 타입리프에서 제공하는 포메팅 -->
                        </tr>
                        </tbody> <!-- 표 본문영역 -->

                    </table>

                    <!-- 페이징 처리용 아이콘 -->
                    <div class="float-end">
                        <ul class="pagination flex-wrap">

                            <li class="page-item" th:if="${responseDTO.prev}">
                                <a class="page-link" th:data-num="${responseDTO.start -1}">Previous</a>
                            </li>

                            <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                                <!-- 페이징 처리에 필요한 숫자 배열이 생성  i값에 넣고 for문 진행 -->
                                <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                                    <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:block>

                            <li class="page-item" th:if="${responseDTO.next}">
                                <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">수정 저장</button>

                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">


    /* console.log("자바스크립트 fragment 테스트.....")*/
    /*예전엔 자바스크립트를 짧게 줄여 쓰려고 jQuery 등 사용했는데 최근에 원시적으로 돌아가려함*/
    //addEventListener:동작,기능,버블링 false,캪쳐링 true
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault() // 원래 기능을 무시하고 고유 동작도 중단
        e.stopPropagation() // 상위 엘리먼트들로 이벤트 전파 중단.(버블링)

        const target = e.target //이벤트에 타겟 변수를 넣는다
        if (target.tagName !== 'A') {
            return   // a 태그가 아니면 돌아가라.
        }
        const num = target.getAttribute("data-num")   //페이지 번호를 클릭하면 숫자가 num으로 들어간다

        const formObj = document.querySelector("form")
        // ``:백틱
        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`


        formObj.submit() // 저장적용
    }, false) //  버블링
    //하단 페이징 번호를 클릭시 적용되는 기능 구현 종료

    document.querySelector(".clearBtn").addEventListener("click", function (e) {
        e.preventDefault() //원래기능 무시
        e.stopPropagation()//버블링 금지

        self.location = '/board/list' //초기화 버튼이 눌리면 옵션 없이 초기리스트가 보임
    }, false)
    //show modal
    const result = [[${result}]]
    if (result) {
        alert(result)
        const modal = new bootstrap.Modal(document.querySelector(".modal"))
        modal.show()
    }

</script>